.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 1rem;
      > a {
        padding: 10px 12px 10px 12px;
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        color: $white;
        &:hover {
          text-decoration: none;
        }
      }
      &.active {
        > a {
          text-decoration: none;
          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }
    }
  }
}

.main-menu {
  > ul {
    > li {
      > a {
        position: relative;
        overflow: hidden;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: $white;
          transition: all 225ms ease-in 0s;
        }
        &:hover::after {
          width: 100%;
        }
      }
      &.active {
        > a {
          &::after {
            width: 100%;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}
